
.wrapper {
  padding-top: 26px;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    min-height: 75vh;
    margin: auto;

    .title-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      padding: 1em;

      h1 {
        padding: 0.5em;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 500;
        font-size: 1.8vw;
        color: #ffffff;

        span {
          padding-right: 0.5em;
          color: rgb(112, 89, 89);
        }
      }

      img {
        width: 90%;
        padding: 2em;
        animation: rotate 50s infinite linear;
      }
    }

    .wrapper-slider {
      display: inline-block;
      width: 40%;
      margin-top: -2em;
      padding: 2em;
      color: #ffffff;

      .header-slider {
        display: flex;
        align-items: flex-start;
        // justify-content: center;

        ul {
          display: flex;
        }

        li {
          display: block;
          border: none;
          padding: 0.5em;
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 300;
          font-size: 1.2vw;
          letter-spacing: 2.7px;
          color: rgba(255, 255, 255, 0.849);
          background-color: transparent;
          transition: 0.5s ease;
          cursor: pointer;

          &:hover {
            border-bottom: 2px solid #ffffff !important;
          }
        }
      }

      .active {
        strong {
          color: white;
        }
      }

      .slider {
        .content-slider {
          display: block;

          h1 {
            margin: 0;
            font-family: "Bellefair", serif;
            font-weight: 500;
            font-size: 5vw;
            color: rgb(255, 255, 255);
          }

          p {
            margin-bottom: 54px;
            font-family: "Barlow", sans-serif;
            font-size: 1.1vw;
            line-height: 2;
            text-align: justify;
            color: rgba(255, 255, 255, 0.89);
          }

          hr {
            border: none;
            border-bottom: 1px solid gray;
            background-color: transparent;
          }

          .info-slider {
            display: flex;
            align-items: center;
            justify-content: center;

            .info-box {
              display: block;
              width: 50%;
              padding: 1em;

              h2 {
                font-family: "Barlow Condensed", sans-serif;
                font-weight: 500;
                font-size: 1vw;
                color: rgba(255, 255, 255, 0.815);
              }

              span {
                font-family: "Bellefair", sans-serif;
                font-size: 1.7vw;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .content {
      flex-direction: column;
      width: 100%;

      .title-img {
        width: 95%;

        h1 {
          font-size: 3vw;
        }

        img {
          width: 65%;
          margin: auto;
        }
      }

      .wrapper-slider {
        width: 85%;

        .header-slider {
          justify-content: center;

          button {
            font-size: 3vw;
          }
        }

        .slider {
          .content-slider {
            h1 {
              font-size: 15vw;
              text-align: center;
            }

            p {
              width: 100%;
              font-size: 2vw;
              text-align: center;
            }

            .info-slider {
              display: flex;
              align-items: center;
              justify-content: center;

              .info-box {
                display: block;
                width: 50%;
                padding: 1em;

                h2 {
                  font-size: 2.5vw;
                  text-align: center;
                }

                span {
                  display: block;
                  width: 100%;
                  font-size: 4.5vw;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .wrapper {
    .content {
      .title-img {
        h1 {
          width: 100%;
          font-size: 5vw;
          text-align: center;
        }

        img {
          width: 55%;
          padding: 0;
        }
      }

      .wrapper-slider {
        width: 100%;

        .header-slider {
          display: none;
        }

        .slider {
          .content-slider {
            p {
              font-size: 3.4vw;
            }

            .info-slider {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .info-box {
                width: 100%;

                h2 {
                  font-size: 4vw;
                }

                span {
                  font-size: 8vw;
                }
              }
            }
          }
        }
      }
    }
  }
}
